<!DOCTYPE html>






<html>
    <link rel ="stylesheet" href="./profile.css">
<img src="https://t4.ftcdn.net/jpg/01/98/49/61/360_F_198496190_TRgMtAnmx20H51DgZdCX5zgphwXynuQ7.jpg" alt = "backgroundImg" id = "backgroundImg">

<img alt = "profileImg" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" id = "profileIMG1">

<h3 id = "nameContainer1">

    Default
</h3>

<div id = "profileDivContainer">
<button class = "divProfileBTN">
About

</button>
<button class = "divProfileBTN">

    Friends
</button>

<button class = "divProfileBTN">

    Posts
</button>
</div>






</html>